<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download Links</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Download Links</h1>
        <ul>
            {% for file_path in file_paths %}
                <li><a href="{{ url_for('download_file', filename=file_path) }}">{{ file_path }}</a></li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('home') }}">Volver a la página principal</a>
    </div>
</body>
</html>
