<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unidash</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Unidash</h1>
        <h2>Interfaz simple para FEHM</h2>
        <div class="menu">
            <ul>
                <li><a href="#">Escenarios</a>
                    <ul>
                        <li><a href="{{ url_for('pared2d') }}">Transferencia de calor - Pared 2D</a></li>
                        <li><a href="{{ url_for('pared3d') }}">Transferencia de calor - Pared 3D</a></li>
                        <li><a href="{{ url_for('barovel') }}">Variación barométrica - Barovel</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
