<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pared 3D</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Pared 3D</h1>
        <form action="/generate_files" method="post">
            <div class="form-group">
                <label for="param1">Parámetro 1:</label>
                <input type="text" id="param1" name="param1" required>
            </div>
            <div class="form-group">
                <label for="param2">Parámetro 2:</label>
                <input type="text" id="param2" name="param2" required>
            </div>
            <div class="form-group">
                <label for="Calor_especifico">Calor específico:</label>
                <input type="text" id="Calor_especifico" name="Calor_especifico" required>
            </div>
            <div class="form-group">
                <label for="Porosidad">Porosidad:</label>
                <input type="text" id="Porosidad" name="Porosidad" required>
            </div>
            <div class="form-group">
                <label for="conductividad_termica">Conductividad térmica:</label>
                <input type="text" id="conductividad_termica" name="conductividad_termica" required>
            </div>
            <div class="form-group">
                <label for="Permeabilidad">Permeabilidad:</label>
                <input type="text" id="Permeabilidad" name="Permeabilidad" required>
            </div>
            <input type="hidden" name="template_folder" value="app/templates/pared3d">
            <input type="hidden" name="output_folder" value="app/output/pared3d">
            <button type="submit">Generar Archivos</button>
        </form>
        <a href="{{ url_for('home') }}">Volver a la página principal</a>
    </div>
</body>
</html>
